/** @format */

.info {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;

  font-size: 36px;

  line-height: 28px;
  letter-spacing: 1.32%;
  border: 1px solid tomato;
}

@media screen and (min-width: 768px) {
}
