/** @format */

.photo-container {
  text-align: center;

  padding-top: 50px;

  background-color: rgba(158, 140, 108, 0.1);
}

.photo {
  margin-bottom: 15px;
}

.photo img {
  max-height: 250px;
  margin: 0 auto;

  border-radius: 25px;
}

.owner-photo {
  padding-top: 20px;
  padding-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .photo-container {
    display: flex;
    align-content: center;
    align-items: center;

    padding: 20px 0px;
  }

  .photo img {
    max-height: 400px;

    margin-left: 50px;
    margin-right: 200px;
  }
}
