/** @format */

.services-container {
  margin-top: 20px;
  margin-left: 15px;

  color: #79819a;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0.34%;
}

.services-title {
  color: #2e2e48;
  text-align: center;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 1.33%;
}

.services-list li {
  margin-top: 20px;

  padding: 15px 20px;

  border: 2px solid #2e2e48;
  border-radius: 10px;
}

@media screen and (min-width: 768px) {
  .services-container {
    text-align: left;
  }
}
