/** @format */
header {
  text-align: center;
}

.App {
  display: flex;
  flex-direction: column;

  text-align: center;
}

.psychologist-container {
  font-family: Arial, sans-serif;
  margin: 0 auto;
  padding: 20px;
}

.info-service {
  background-color: #f7f9fc;
}

@media screen and (min-width: 768px) {
  .App {
    width: 768px;
    margin: 0 auto;
  }

  .info-service {
    display: flex;
    justify-content: space-between;

    padding: 50px 60px;
  }
}

@media screen and (min-width: 1024px) {
  .App {
    width: 1024px;
  }
}
